<!DOCTYPE html>
<html lang="en">
<head>
{{>HeaderLinks}}
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
{{>iNavbar}}
{{>cart}}
    <script src="../../jq/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
</body>
</html>