<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://kit.fontawesome.com/ab3cbe68e7.js" crossorigin="anonymous"></script>
{{!-- <title>FOMS- Order without hesitation || {title}</title> --}}
<title>{{title}}</title>
