<div class="container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row mt-5">
        <div class="container">
        <div class="col-md-6 col-12 login_left">
            <figure >
              <img class="loginimg" src="/images/login.png" alt="">
            </figure>
        </div>
        <div class="col-md-6 col-12 login_right">
        <form action="/login" method="post">
          <div class="form-group mt-2 mb-2">
            <label for="phone">Email :  
            </label>
            <input
            class="ip_style" 
              type="text"
              name="email"  
              placeholder="Enter your Email Id"
            />
          </div>
          <div class="form-group mt-2 mb-2">
            <label for="password">Password :  
            </label>
            <input class="ip_style" type="password" name="password" placeholder="Password" />
          </div>
          <div class="form-group mt-2 mb-2">
          <button class="ip_style btn btn-primary">Login</button>
          </div>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>