<div class="container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row mt-5">
          <div class="col-md-6 col-12 signup_left">
              <h1>WEL-COME :)</h1>
          </div>
          <div class="col-md-6 col-12 signup_right">
            <form action="/signup" method="post">
              <div class="form-group mt-2 mb-2">
                <div class="row">
                  <div class="col mt-2 mb-2">
                    <label for="firstname">First Name:  
                    </label>
                    <input class="ip_style" type="text" name="firstname" placeholder="Enter firstname" />
                  </div>
                  <div class="col mt-2 mb-2">
                    <label for="lastname">Last Name:  
                    </label>
                    <input class="ip_style" type="text" name="lastname" placeholder="Enter lastname" />
                  </div>
                </div>
              </div>
              <div class="form-group mt-2 mb-2">
                <div class="row">
                  <div class="col mt-2 mb-2">
                    <label for="phone">Phone No. :  
                    </label>
                    <input class="ip_style" type="text" name="phone" placeholder="Enter your Phone No." />
                  </div>
                  <div class="col mt-2 mb-2">
                    <label for="email">Email :  
                    </label>
                    <input class="ip_style" type="text" name="email" placeholder="Enter your Email Id" />
                  </div>
                </div>
              </div>
              <div class="form-group mt-2 mb-2">
                <div class="row">
                  <div class="col mt-2 mb-2">
                    <label for="password">Password :  
                    </label>
                    <input class="ip_style" type="password" name="password" placeholder="Password" />
                  </div>
                  <div class="col mt-2 mb-2">
                    <label for="cpassword">Confirm Password :  
                    </label>
                    <input class="ip_style" type="password" name="cpassword" placeholder="Confirm Password" />
                  </div>
                </div>
              </div>
              <div class="form-group mt-2 mb-2">
                <button class="ip_style btn btn-primary">Sign In</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

